.container_categorias{
    display: flex; 
    flex-wrap: wrap;
  
    
    flex-direction: column;
    align-items: center;
    gap: 32px;
    flex-shrink: 0;

    }

    .unfilter{
        font-family: Inter;
        background-color: black;
        color: white;
        font-weight: 600;
        font-size: 15px;
        padding: 0.5em;
    }

    .unfilter:hover{
        background-color: #8d8e8e;
        font-size: 19px;
        color: black;
        cursor: pointer;
    }


.titulo{
    text-align: center;
    padding: 1em;
    font-size: 32px;
    font-family: Inter;
    font-weight: 500;
}

.itens_container{
    display: flex;
    color: white;
     align-items: flex-start;
     gap: 30px;
     justify-content: center; 
     flex-wrap: wrap;
}

.card{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    
    
}

.roupa_card{
   
    flex-shrink: 0;
    border-radius: 4px 4px 0px 0px;
    width: 160px;
    height: 157px;
   
}

.nome_roupa{
    font-family: Inter;
    padding: 10px;

    font-weight: 500;
    transition: 0.15s;
}

.nome_roupa:hover{
    color: greenyellow;
    font-size: 18px;
    transition: 0.1s;
    cursor: pointer;
    
}


@media (max-width:300px){

    .container_categorias{
        width: 340px;
    }
}




















.input_buscar{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 7em;
    margin-top: 1.3em;
}

.produtos_t1{
    font-size: 28px;
    font-family: Inter;
    font-weight: 500;
    text-align: center;
    padding: 2em;
}


.box{
    display: flex;
    gap: 20px;
}

.produtos_container{
    display: flex;
    align-items: flex-start;
    padding: 1em;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap; 
}

.produtos_container1{
    display: none;
    align-items: flex-start;
    padding: 1em;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap; 
}

.produtos_card{
 
    display: flex;
    width: 382px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border: 1px solid rgba(0, 0, 0, 0.13);
    background: #FFF;
    padding-bottom: 1em;
  
}

.produtos_imagem{
    width: 380px;
    height: 422px;
}

.card_text{
    display: flex;
    padding: 2px 16px 10px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    font-family: Inter;
}

.titulo_produto{
    padding-top: 10px;
    font-size: 16px;

    font-weight: 700;
    line-height: 23px;
}

.descricao{
    font-size: 13px;

    line-height: 20px;
}

.preco{
    font-size: 16px;
    font-family: Inter;
    font-weight: 700;
    line-height: 23px;
}


.vermais{
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.457px;
    background: #9353FF;
    color: white;
    padding: 9px 16px;
    align-items: flex-start;
    gap: 10px;
    border: none;
   
} 



.checked{
    background-color: black;
    display: flex;
    
    color: white;
    height: 65px;
    padding: 18px 28px 18px 16px;
    align-items: center;
    gap: 20px;
}

.img_modal{
    width: 350px;
    height: 422px;
    border-radius: 4px 4px 0px 0px;
}

.modal_header{
    font-size: 20px;
font-family: Inter;
font-style: normal;
font-weight: 500;
line-height: normal;
width: 100%;
}

.card_modal_container{
    display: grid;
    gap: 10px;
}

.card_modal{
    padding: 30px;
    display: flex;
    gap: 40px;
    justify-content: center; 
    background: white;
    
} 

.infos_modal{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 24px;
align-self: stretch; 
width: 380px;

height: 205px;
}

.infos_modal2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch; 
    width: 380px;

    height: 150px;
}

.titulo_modal{
    font-size: 16px;
font-family: Inter;
font-style: normal;
font-weight: 700;
line-height: 23px;
}


.descricao_modal{
    font-size: 13px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.descricao2_modal{
    font-size: 13px;
font-family: Inter;
font-style: normal;
font-weight: 400;
line-height: 20px;
color: #ADB5BD;
}

.linha_modal{
    width: 286px;
    height: 1px;
    background-color: black;
}

.linha_modal2{
    width: 286px;
    height: 1px;
    background-color: #D8D8D8;
}
.preco_modal{
    font-size: 20px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.inputs_card_cores{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.cor_input1{
    font-family: Inter;
    font-size: 12px;
  
}

.cor_input2{
    font-family: Inter;
    font-size: 12px;
    margin-top: 5px;
    margin-right: 2px;
}
.cores_opcoes{
    display: grid;
    text-align: center;
    gap: 5px;
}

.cores_opcoes3{
    display: grid;
    text-align: center;
    gap: 5px;
    margin-left: 5px;
}

label{
    display: block;
    position: relative;
    padding-left: 26px;
   
    font-size: 22px;
    user-select: none;
}

.input_azul{
    height: 0;
    width: 0;
}

label:hover .input_azul ~ .checkmark1 {
    background-color: rgba(117, 215, 240, 1);
   
  }
  label .input_azul:checked ~ .checkmark1 {
    background-color: rgba(117, 215, 240, 1);
  
    border-radius: 10px;
    border-color: #9353FF; 
    border-width: thick;
  }


.checkmark1{
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border: 2px solid #c9c9c9;
    background-color: #dedbdb;
    border-radius: 10px;
} 

.input_branco{
    height: 0;
    width: 0;
} 


label:hover .input_branco ~ .checkmark2 {
    background-color: rgba(243, 246, 247, 1);
    border-radius: 10px;
  }
  label .input_branco:checked ~ .checkmark2 {
    
    background-color: rgba(243, 246, 247, 1);
     border-radius: 10px;
    border-color: #9353FF; 
    border-width: thick;
  }


.checkmark2{
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border: 2px solid #c9c9c9;
    background-color: #dedbdb;
    border-radius: 10px;
    }

    
.input_preto{
    height: 0;
    width: 0;
} 

label:hover .input_preto ~ .checkmark3 {
    background-color:black;
    border-radius: 10px;
  }
  label .input_preto:checked ~ .checkmark3 {
    background-color:black;
    border-radius: 10px;
   border-color: #9353FF; 
   border-width: thick;
  }

.checkmark3{
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border: 2px solid #c9c9c9;
    background-color: #dedbdb;
    border-radius: 10px;
    } 

   
.titulo_modal2{
    font-size: 14px;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
}

.titulo_modal3{
    font-size: 14px;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
}

.botao_add{
    font-size: 16px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.457px;
    background-color: #9353FF;
    color: white;
    border: none;
    padding: 9px 16px;;
}











@media (max-width:1200px){   
    



    .card_text{
       height: 203px;
    } 



    .produtos_container{
        display: none;
       
    }

    .produtos_container1{
        display: flex;
        align-items: flex-start;
        padding: 1em;
        gap: 30px;
        justify-content: center;
        flex-wrap: wrap; 
    }
    
   
    .box{
        display: flex;
    }
.produtos_imagem{
    width: 258px;
    height: 350px;
} 

.produtos_card{
   
    display: flex;
    width: 260px;
   
    padding-bottom: 1em;
  
} 




    
}



@media (max-width: 1100px){
    .card_modal{
        width: 800px;
        height: 650px;
        
} 
}

@media (max-width: 920px){
    .checked{
        margin-top: 100px;
    }
    .card_modal{
        display: grid;
        width: 500px;
        height: 650px;
    } 
}






@media (max-width: 500px){
   


    .card_modal{
            display: flex;
            flex-direction: column;

            
    }
    .img_modal{
        margin-top: 450px;
      
        width: 290px;
        margin-left: 70px; 

        
    } 

    .infos_modal{
        width: 320px;
        margin-left: 80px; 
        
    }

    .infos_modal2{
        width: 380px;
        margin-left: 80px; 
        
    }

} 

@media (max-width:900px){

    .input_buscar{
   
        width:130px ;
    
    }
     
}

@media (max-width:830px){
    .input_buscar{
   
        width:100px ;
        margin-right:8.5em;
        
    
    }
     
}

@media (max-width:820px){
    .input_buscar{
   
        width:100px ;
        margin-right: 10em;
        
    
    }
     
}

@media (max-width:770px){
    .input_buscar{
   
        width:100px ;
        margin-right: 9em;
        
    
    }
     
}
@media (max-width:650px){
    .input_buscar{
        width: 140px;
         margin-top: 5.3em;
         margin-right: 18em;
         left: 9.5em;
             
         }
     
}


@media (max-width:550px){
    .input_buscar{
   width: 140px;
    margin-top: 5.3em;
    margin-right: 15em;
        
    }
     
} 


@media (max-width:570px){
    .input_buscar{
   width: 140px;
    margin-top: 5.3em;
    margin-right: 15em;
        
    }
     
} 


@media (max-width:500px){
    .input_buscar{
   width: 140px;
    margin-top: 5.3em;
    margin-right: 12em;
        
    }
     
}

@media (max-width:690px){
    .input_buscar{
  
    margin-right: 8em;
        
    }
     
}


@media (max-width:650px){
    .input_buscar{
  
        margin-right: 17em;
        
    }
     
}

@media (max-width:540px){
    .input_buscar{
  
        margin-right: 15.5em;
        
    }
     
}

@media (max-width:510px){
    .input_buscar{
  
        margin-right: 14.5em;
        
    }
     
}


@media (max-width:497px){
    .input_buscar{
  
        margin-right: 11.5em;
        left: 8em;
        
    }
     
}

@media (max-width:482px){
    .input_buscar{
        width: 140px;
         margin-top: 5.3em;
         margin-right: 18em;
         left: 7.2em;
             
         }
     
}


@media (max-width:460px){
    .input_buscar{
  
        margin-right: 13em;
        
    }
     
    .card_modal{
        width: 300px;
    }
}



@media (max-width:440px){
    .input_buscar{
  
        margin-right: 11em;
        
    }
     
}

@media (max-width:420px){
    .input_buscar{
  
        margin-right: 11em;
        left: 5em;
        
    }
     
}



@media (max-width:398px){

    
  

    .modal_header{
        font-size: 16px;
        
    }
    .input_buscar{
  
        margin-right: 10em;
        left:5em;
        
    }

    .img_modal{
        margin-left: 1px;
    }
    .infos_modal{
        margin-left: 1px;

    }

    .infos_modal2{
        margin-left: 1px;

    }
     
     
}


@media (max-width:380px){
    
    .checked{
        font-size: 15px;
        
       
    }
    .input_buscar{
        left: 3em;
   width: 150px;
    margin-top: 5.3em;
    margin-right: 11em;
        
    }
     
}


@media (max-width:360px){
    .input_buscar{
   width: 140px;
    margin-top: 5.3em;
    margin-right: 9.3em;
        
    }
     
}

@media (max-width:320px){
    .input_buscar{
   width: 140px;
    margin-top: 5.3em;
    margin-right: 6em;
        
    }
     
}
@media (max-width:300px){

    .input_buscar{
        width: 140px;
         margin-top: 5.3em;
         margin-right: 6em;
             
         }
    .produtos_container1{
        width: 350px
    }

    .produtos_t1{
        width: 350px
    } 
    
} 

@media(max-width:290px){
    .input_buscar{
        width: 140px;
         margin-top: 5.3em;
         margin-right: 6em;
             
         }
}

@media(max-width:260px){
    .input_buscar{
        width: 140px;
         margin-top: 5.3em;
         margin-right: 3em;
             
         }
}

@media(max-width:220px){
    .input_buscar{
        width: 140px;
         margin-top: 5.3em;
         margin-right: 1.5em;
             
         }
}
@media (max-width:200px){
    .input_buscar{
        margin-right: 0.2em;
    }
   .card_modal{
    margin-top: 10px;
    padding: 2px;
   }
   .card_modal_container{
        margin-left: 5px;
   }

   .linha_modal{
    width: 240px;
   } 

   .linha_modal2{
    width: 240px;
   }

   .img_modal{
    width: 250px;
    margin-left: 15px;
    margin-top: 400px;
   }

   .infos_modal{
    width: 250px
   }
   
   .infos_modal2{
    width: 250px;
   }
}


@media (max-width:190px){
    .input_buscar{
        right: 0;
        margin-left: 3em;
        left: 1px;

    } 

    .card_modal{
        margin-top: 220px;
        margin-left: 20px;
    }
    .img_modal{
        margin-top: 20px;
    }
}


@media(max-width:190px){
    .card_modal{
        margin-top: 220px;
        margin-left: 20px;
    }

  
}


@media(max-width:150px){
    .checked{
        margin-top: 160px;
    }
    .card_modal{
       margin-top: 0;
        margin-left: 20px;
    }

    .img_modal{
        margin-top: 450px;
    }

  
}